/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Hammersmith+One');
@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

/* Styles */

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Poiret One', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.navbar {
  position: relative;
  height: 49.1px;
  background-color: rgba(255,255,255,0.6);
  box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
  display: flex;
  z-index: 999;
}

.navbar a {
  display: block;
  text-align: center;
  color: #000000;
  padding: 10.2px 19px;
  text-decoration: none;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #000000;
  display: block;
  text-align: left;
  margin: auto;
  padding: 0px 18px;
}

.navbar a.active {
  border-bottom:   1px solid #000000; 
}

.navbar a:hover {
  color: #212121;
  background-color: rgba(33,33,33,0.075);
}

.navbar .icon {
  display: none;
  text-align: center;
  align-self: center;
  cursor: pointer;
}

.navbar .icon:hover {
  color: #000000; 
}

.filler {
  flex: 1 1 auto; 
}

.sidebar {
  display: none;
  flex-direction: column;
  background-color: white;
  height: 100%;
  width: 300px;
  z-index: 50;
  text-align: left;
  position: absolute;
  margin-top: 49.1px;
  transform: translateX(-300px);
  top: 0; 
}

.sidebar a {
  display: block;
  text-align: left;
  justify-content: flex-start;
  align-content: flex-start;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sidebar a:hover {
  background-color: rgba(33,33,33,0.075);
}

.sidebar a.active {
  border-bottom: 1px solid black;
}

/* Media Queries */
@media screen and (max-width: 600px) {
  .navbar {
    display: block; 
  }

  .navbar a:not(:first-child) {
    display: none; 
  }

  .navbar a.icon {
    float: left;
    display: block; 
  } 
}

@media screen and (max-width: 600px) {
  .sidebar.responsive {
    display: block;
    transform: translateX(0px);
    transition: .5s ease all;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.4);
  } 
	
}

@media screen and (max-width: 600px) {
  .sidebar {
    display: block;
    transform: translateX(-300px);
    transition: .5s ease all;
  }
}