/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Hammersmith+One');
@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

/* Styles */
html {
  min-width: 500px;
}

body {
  margin: 0;
  padding: 0;
  color: black;
}

.img-container {
  width: 95%;
  border: 1px solid black;
  margin-bottom: 60px;
  margin-top: 20px;
  border-radius: 3px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.12), 0 2px 5px rgba(0,0,0,0.24);
  text-align: center;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

.img-container p {
  font-size: 10rem;
  font-family: "Poiret One", sans-serif;
}

#header {
  width: 95%;
  text-align: left;
}

.main {
  padding-top: 40px;
  padding-bottom: 40px;
  color: black;
  width: 50%;
  margin: auto;
  text-align: left;
  align-items: center;
  align-content: center;
  font-family: "Barlow Semi Condensed", sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.post {
  box-shadow: 0 3px 5px rgba(0,0,0,0.12), 0 2px 5px rgba(0,0,0,0.24);
  padding: 20px;
  margin-bottom: 40px;
  font-weight: 100;
  border-radius: 3px;
  border: 1px solid black;
}

.post-container {
  margin: auto;
  width: 95%;
}

.post .title {
  font-size: 2.3rem;
  font-weight: bold;
}

.post .author {
  font-size: 1rem;
}

@media screen and (max-width: 1700px) {
  .main {
    width: 60%;
  }
}

@media screen and (max-width: 1500px) {
  .main {
    width: 70%;
  }
}

@media screen and (max-width: 1250px) {
  .main {
    width: 80%;
  }
}

@media screen and (max-width: 950px) {
  .main {
    width: 90%;
  }
}

@media screen and (max-width: 880px) {
  .post-container {
    width: 90%;
    font-size: 1rem;
  }
  
  #header {
    width: 90%;
    text-align: center;
  }
  
  .img-container {
    width: 90%;
  }
  
  .img-container p {
    font-size: 8rem;
  }
  
  .main {
    width: 100%;
  }
}

@media screen and (max-width: 720px) {
  .img-container p {
    font-size: 6rem;
  }
  
}

@media screen and (max-width: 530px) {
  .img-container p {
    font-size: 4rem;
  }
  
}  











