/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

/* Styles */
.container {
  display: grid;
  grid-template: 49.1px 1fr 49.1px / repeat(12, 1fr);
}

body {
  margin: 0;
  font-family: 'Poiret One', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: white; 
}

.navbar {
  z-index: 9999;
  height: 49.1px;
  overflow: hidden;
  background-color: rgba(255,255,255,0.6);
  box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
  display: flex;
}

.navbar a {
  display: block;
  text-align: center;
  color: #000000;
  padding: 10.2px 19px;
  text-decoration: none;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #000000;
  display: block;
  text-align: left;
  margin: auto;
  padding: 0px 18px;
}

.navbar a.active {
  border-bottom:   1px solid #000000; 
}

.navbar a:hover {
  color: #212121;
  background-color: rgba(33,33,33,0.075);
}

.navbar .icon {
  display: none;
  text-align: center;
  align-self: center;
  cursor: pointer;
}

.navbar .icon:hover {
  color: #000000; 
}

.filler {
  flex: 1 1 auto; 
}

.sidebar {
  display: block;
  flex-direction: column;
  background-color: white;
  height: 1499px;
  width: 300px;
  z-index: 0;
  text-align: left;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.6);
  transform: translateX(-300px);
  top: 0;
}

.sidetab {
  display: block;
  text-align: left;
  justify-content: flex-start;
  align-content: flex-start;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sidebar a:hover {
  color: #212121;
  background-color: rgba(33,33,33,0.075);
}

.sidebar a.active {
  border-bottom: 1px solid black;
}

/* Media Queries */
@media screen and (max-width: 600px) {
  .navbar {
    display: block; 
  }

  .navbar a:not(:first-child) {
    display: none; 
  }

  .navbar a.icon {
    float: left;
    display: block; 
  } 
}

@media screen and (max-width: 600px) {
  .sidebar.responsive {
    display: block;
    transform: translateX(0px);
    transition: .5s ease all;
  } 
	
}

@media screen and (max-width: 600px) {
  .sidebar {
    display: block;
    transform: translateX(-300px);
    transition: .5s ease all;
  }
}

form {
  max-width: 450px;
  margin: 0 auto;
  font-size: .9rem;
}
form > div {
  position: relative;
  background-color: tansparent;
}
form > div > label {
  opacity: 0.3;
  font-weight: bold;
  position: absolute;
  top: 8px;
  left: 0px;
  transition: .3s ease all;
}
form > div > input[type="text"],
form > div > input[type="email"],
form > div > input[type="password"] {
  width: 100%;
  border: 0;
  padding-bottom: 5px;
  padding-top: 10px;
  margin-bottom: 25px;
  background-color: transparent;
  border-bottom: 1px solid grey;
  box-shadow: none;
}
form > div > input[type="text"]:focus,
form > div > input[type="email"]:focus,
form > div > input[type="password"]:focus {
  outline: 0;
  background-color: transparent;
  border-bottom: 2px solid black;
  transition: .2s ease all;
}
form > div > input[type="text"]:focus + label,
form > div > input[type="email"]:focus + label,
form > div > input[type="password"]:focus + label {
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px);
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}
form > div > input[type="text"]:valid,
form > div > input[type="email"]:valid,
form > div > input[type="password"]:valid {
  border-bottom: 2px solid #4CAF50;
}
form > div > input[type="text"]:valid + label,
form > div > input[type="email"]:valid + label,
form > div > input[type="password"]:valid + label {
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px);
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}
form > div > input[type="text"]:invalid:not(:focus):not(:placeholder-shown),
form > div > input[type="email"]:invalid:not(:focus):not(:placeholder-shown),
form > div > input[type="password"]:invalid:not(:focus):not(:placeholder-shown) {
  border-bottom: 2px solid #F44336;
}
form > div > input[type="text"]:invalid:not(:focus):not(:placeholder-shown) + label,
form > div > input[type="email"]:invalid:not(:focus):not(:placeholder-shown) + label,
form > div > input[type="password"]:invalid:not(:focus):not(:placeholder-shown) + label {
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px);
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}
form > div > input[type="text"]:invalid:focus:not(:placeholder-shown),
form > div > input[type="email"]:invalid:focus:not(:placeholder-shown),
form > div > input[type="password"]:invalid:focus:not(:placeholder-shown) {
  border-bottom: 2px solid #F44336;
}
form > div > input[type="text"]:valid:focus:not + label,
form > div > input[type="email"]:valid:focus:not + label,
form > div > input[type="password"]:valid:focus:not + label {
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px);
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

form input[type="submit"] {
  display: block;
  width: 100%;
  margin: 20px 0;
  background: #41D873;
  color: white;
  border: 0;
  padding: 20px;
  font-size: 1.2rem;
}

/*
body {
  background: #757575;
  font-family: 'PT Sans', sans-serif;
  padding: 20px;
}
*/

* {
  box-sizing: border-box;
}











































