
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'header.css' %}"/>
 
<div class="navbar" onchange="addActive()">
  <a class="icon" id="menu" onclick="Side()">&#9776;</a>
  <a href="/"{% if active == "home" %}class="active"{% endif %}>Home</a>
  <a href="/news"{% if active == "news" %}class="active"{% endif %}>News</a>
  <a href="/contact"{% if active == "contact" %}class="active"{% endif %}>Contact</a>
  <a href="/about"{% if active == "about" %}class="active"{% endif %}>About</a>
  <div class="filler"></div>
  <a href="/account"{% if active == "account" %}class="active"{% endif %}>Account</a>
</div>

<div class="sidebar" id="side">
  <a id="sidetab" href="/"  {% if active == "home" %}class="active"{% endif %}>Home</a>
  <a id="sidetab" href="/news"  {% if active == "news" %}class="active"{% endif %}>News</a>
  <a id="sidetab" href="/contact"  {% if active == "contact" %}class="active"{% endif %}>Contact</a>
  <a id="sidetab" href="/about"  {% if active == "about" %}class="active"{% endif %}>About</a>
  <a id="sidetab" href="/account"  {% if active == "account" %}class="active"{% endif %}>Account</a>
  <div class="filler"></div>
</div>

<script>
  function Side() {
    var x = document.getElementById("side");
	var y = document.getElementById("menu")
    
    if (x.className === "sidebar" && y.className === "icon") {
      x.className += " responsive";
      y.className += " clicked";
    } else {
      x.className = "sidebar";
      y.className = "icon";
    }	
  } 
</script>