{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'signup.css' %}"/>
    <title>Sign Up</title>

    <div class="signup-container" align="center">

        <form method="post" class="signup"> {% csrf_token %}
           
            <h1>Sign Up!</h1>
            
            <div>
                <input type="text" name="email" placeholder=" " autofocus required validate id="id_username">
                <label for="id_username">Email</label>
            </div>
  
            <div>
              <input type="password" id="id_password1" name="password1" required placeholder=" " autofocus required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" />
              <label for="id_password1">Password</label>
            </div>
            
            <div>
              <input type="password" id="id_password2" name="password2" required placeholder=" " autofocus required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" />
              <label for="id_password`">Confirm Password</label>
            </div>


            <button type="submit">Sign Up</button>
        </form>
    </div>
{% endblock %}